<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"> <a routerLink="parents">Parents </a> </li>
            <li class="nav-item"> <a routerLink="admin"> Admin </a> </li>
            <li class="nav-item"> <a routerLink="admin/course"> Admin course</a> </li>
            <li class="nav-item"> <a routerLink="admin/course/subcourse/1256365"> Admin subcourse</a> </li>
            <li class="nav-item"> <a routerLink="login"> Login</a> </li>
        </ul>
    </header>
</div>
<router-outlet></router-outlet>